<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/listener.js"></script>
  </head>
  <body>
    
<center>  
 <div id="signup_form" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 id="question">{{question}}</h1>
        <label for="answer">ответ</label>
        <input type="text" id="answer" required>
        <button id="btnAnswer">OK</button>
    </div>
  </div>
</center>  

  </body>
</html>
