<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML  4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Тег TABLE</title>
</head>
<body>
  <table 
  border="1" 
  bgcolor = #800080
  frame = void
  rules = all
  width = 500
  valign = middle
  cellpadding = "5"
  > 

  <tr>
    <td><font color="#FFD700"><p>ФИЛОСОФЫ</p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="1"  class="cost"  color= #FFD700 >200</p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="2"  class="cost">300</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="3"  class="cost">600</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="4"  class="cost">800</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="5" class="cost">1000</font></p></td>
  </tr>

  <tr>
    <td><font color="#FFD700"><p>АГЕНТ 007</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="6"  class="cost">200</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="7"  class="cost">400</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="8"  class="cost">600</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="9"  class="cost">800</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="10"class="cost">1000</font></p></td>
  </tr>

  <tr>
    <td><font color="#FFD700"><p>ШАХМАТЫ</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="11" class="cost">200</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="12" class="cost">400</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="13" class="cost">600</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="14" class="cost">800</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="15"class="cost">1000</font></p></td>
  </tr>

  <tr>
    <td><font color="#FFD700"><p>ЕВГЕНИЙ ОНЕГИН</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="16" class="cost">200</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="17" class="cost">400</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="18" class="cost">600</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="19" class="cost">800</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="20" class="cost">1000</font></p></td>
  </tr>

  <tr>
    <td><font color="#FFD700"><p>СТРАНЫ И НАРОДЫ</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="21" class="cost">200</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="22" class="cost">400</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="23" class="cost">600</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="24" class="cost">800</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="25" class="cost">1000</font></p></td>
  </tr>

  <tr>
    <td><font color="#FFD700"><p>ЖЕЛТАЯ ТЕМА</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="26" class="cost">200</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="27" class="cost">400</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="28" class="cost">600</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="29" class="cost">800</font></p></td>
    <td class="tableCell" ><font color="#FFD700"><p  id="30" class="cost">1000</font></p></td>
  </tr>

</table>
</body>
</html>