<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML  4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Тег TABLE</title>
</head>
<body>
  <table 
  border="1" 
  bgcolor = #800080
  frame = void
  rules = all
  width = 500
  valign = middle
  cellpadding = "5"
  > 

  <tr>
    <td><p>ФИЛОСОФЫ</p></td>
    <td class="tableCell" ><p  id=1 class="cost">200</p></td>
    <td class="tableCell" ><p  id=2 class="cost">300</p></td>
    <td class="tableCell" ><p  id=3 class="cost">600</p></td>
    <td class="tableCell" ><p  id=4 class="cost">800</p></td>
    <td class="tableCell" ><p  id=5 class="cost">1000</p></td>
  </tr>

  <tr>
    <td><p>АГЕНТ 007</p></td>
    <td class="tableCell" ><p  id=6 class="cost">200</p></td>
    <td class="tableCell" ><p  id=7 class="cost">400</p></td>
    <td class="tableCell" ><p  id=8 class="cost">600</p></td>
    <td class="tableCell" ><p  id=9 class="cost">800</p></td>
    <td class="tableCell" ><p  id=10 class="cost">1000</p></td>
  </tr>

  <tr>
    <td><p>ШАХМАТЫ</p></td>
    <td class="tableCell" ><p  id=11 class="cost">200</p></td>
    <td class="tableCell" ><p  id=12 class="cost">400</p></td>
    <td class="tableCell" ><p  id=13 class="cost">600</p></td>
    <td class="tableCell" ><p  id=14 class="cost">800</p></td>
    <td class="tableCell" ><p  id=15 class="cost">1000</p></td>
  </tr>

  <tr>
    <td><p>ЕВГЕНИЙ ОНЕГИН</p></td>
    <td class="tableCell" ><p  id=16 class="cost">200</p></td>
    <td class="tableCell" ><p  id=17 class="cost">400</p></td>
    <td class="tableCell" ><p  id=18 class="cost">600</p></td>
    <td class="tableCell" ><p  id=19 class="cost">800</p></td>
    <td class="tableCell" ><p  id=20 class="cost">1000</p></td>
  </tr>

  <tr>
    <td><p>СТРАНЫ И НАРОДЫ</p></td>
    <td class="tableCell" ><p  id=21 class="cost">200</p></td>
    <td class="tableCell" ><p  id=22 class="cost">400</p></td>
    <td class="tableCell" ><p  id=23 class="cost">600</p></td>
    <td class="tableCell" ><p  id=24 class="cost">800</p></td>
    <td class="tableCell" ><p  id=25 class="cost">1000</p></td>
  </tr>

  <tr>
    <td><p>ЖЕЛТАЯ ТЕМА</p></td>
    <td class="tableCell" ><p  id=26 class="cost">200</p></td>
    <td class="tableCell" ><p  id=27 class="cost">400</p></td>
    <td class="tableCell" ><p  id=28 class="cost">600</p></td>
    <td class="tableCell" ><p  id=29 class="cost">800</p></td>
    <td class="tableCell" ><p  id=30 class="cost">1000</p></td>
  </tr>

</table>
</body>
</html>